:root {
  --branco: #f4faff;
  --salario: #40476d;
  --inss: crimson;
  --irpf : darkgoldenrod;
}

.div-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 40px;
}

.color-inss{
  color: var(--inss);
  font-weight: 600;
}
.bg-inss{
  background-color: var(--inss);

}

.color-irpf{
  color: var(--irpf);
  font-weight: 600;
}
.bg-irpf{
  background-color: var(--irpf);
}


.color-salario{
  color: var(--salario);
  font-weight: 700;
}
.bg-salario{
  background-color: var(--salario);
}
 
